@model AppPresupuestosSockets.Models.Usuarios

<form asp-action="Agregar" method="post">
    <div class="row">
        <div class="col-4">
            <label asp-for="Nombre"></label>
            <input type="text" asp-for="Nombre" class="form-control">
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email" class="form-control">
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-primary">Enviar</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-danger">
            <i class="bi bi-plus-circle"></i> Regresar
    </a>
    </div>
</form>